<footer class="page-footer font-small blue pt-5 bg-dark text-light pl-5 pr-5">
   <div class="container-fluid text-center text-md-left">
      <div class="row">


         <div class="col-md-3 mt-md-0 mt-3">
            <h5 class="text-uppercase">RADNO VREME</h5>
            <ul class="list-unstyled">
               <li>Radni dani: 08h - 20h</li>
               <li>Subota: 09h - 16h</li>
               <li>Nedelja: neradan dan</li>
            </ul>
         </div>


         <div class="col-md-3 mt-md-0 mt-3">
            <h5 class="text-uppercase">CALL CENTAR</h5>
            <ul class="list-unstyled">
               <li>0700 30 03 03 (samo putem fiksne mreže)</li>
               <li>066 890 11 88</li>
            </ul>
         </div>

         <div class="col-md-3 mt-md-0 mt-3">
            <h5 class="text-uppercase">REKLAMACIJE</h5>
            <ul class="list-unstyled">
               <li>Radnim danima: 08h - 17h</li>
               <li>Subota: 09h - 16h</li>
               <li>011 4 500 200</li>
            </ul>
         </div>

         <div class="col-md-3 mt-md-0 mt-3 ">
            <h5 class="text-uppercase">PRATITE NAS</h5>
            <table class="ml-md-0 mr-md-0 ml-auto mr-auto">
               <tr>
                  <td>
                     <i class="fa fa-lg fa-facebook mr-3"></i>
                  </td>
                  <td align="left">
                     Facebook
                  </td>
               </tr>
               <tr>
                  <td>
                     <i class="fa fa-lg fa-instagram mr-3"></i>
                  </td>
                  <td align="left">
                     Instagram
                  </td>
               </tr>
               <tr>
                  <td>
                     <i class="fa fa-lg fa-twitter mr-3"></i>
                  </td>
                  <td align="left">
                     Twitter
                  </td>
               </tr>
            </table>

         </div>


      </div>
   </div>

   <div class="footer-copyright text-center py-3">© 2020 Copyright: Samed Bejtović</div>

</footer>