<div class="container mt-4 mb-4">

   <!-- Sortiranje -->
   <div class="row">
      <div class="col-sm-0 col-md-6"></div>
      <div class="col-sm-6 col-md-2">
         <button class="btn btn-primary w-100">Filter</button>
      </div>
      <div class="col-sm-6 col-md-4">
         <select class="custom-select mb-4" (change)="sortProducts($event.target.value)">
            <option>Sortiranje</option>
            <option>Naziv A-Z</option>
            <option>Naziv Z-A</option>
            <option>Cena rastuće</option>
            <option>Cena opadajuće</option>
         </select>
      </div>
   </div>

   <!-- Lista proizvoda -->
   <div class="row align-items-center">
      <div *ngFor="let product of productsToShow" class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
         <div class="mb-4 product" (click)="goToProductPage(product.ean)">
            <div class="mt-3 mb-3" style="width: 100%">
               <img src="{{product.slike[0]}}" alt="Nema slike" style="width: 100%;">
            </div>
            <h5 class="text-center">{{product.proizvodjac}}</h5>
            <h6 class="text-secondary text-center">
               {{product.dijagonala + '" ' + product.model}}</h6>
            <h5 class="text-center">{{product.cena}} <span class="text-secondary">RSD</span></h5>
            <button class="ml-4 mr-4 mb-3 btn btn-primary" (click)="addToCart($event, product)">Dodaj u korpu</button>

         </div>

      </div>
   </div>

   <!-- Pagination -->
   <div class="d-flex flex-row-reverse">
      <nav aria-label="...">
         <ul class="pagination">
            <li class="page-item" [class.disabled]="paginationIndex === 0">
               <a class="page-link" (click)="setPage(paginationIndex - 1)">&laquo;</a>
            </li>

            <li *ngFor="let x of range(numberOfPages); let i = index" class="page-item"
               [class.active]="paginationIndex === i">
               <a class="page-link" (click)="setPage(i)">{{i + 1}}</a>
            </li>

            <li class="page-item" [class.disabled]="paginationIndex === numberOfPages - 1">
               <a class="page-link" (click)="setPage(paginationIndex + 1)">&raquo;</a>
            </li>
         </ul>
      </nav>
   </div>
</div>