<div class="text-center col-xs-12 col-md-7 col-lg-5" style=" margin:auto;" (keydown.enter)="onSubmit()">


   <h1 class="display-4 mb-5 mt-3 text-center">Prijava</h1>

   <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
      <span style="white-space: pre-line">{{errorMessage}}</span>
   </div>


   <div class="form-group text-left">
      <label>Korisničko ime</label>
      <input type="text" class="form-control form-control-lg" placeholder="Unesite korisničko ime" required autofocus
         [(ngModel)]="username">
   </div>

   <div class="form-group text-left">
      <label>Lozinka</label>
      <input type="password" class="form-control form-control-lg" placeholder="Unesite lozinku" required
         [(ngModel)]="password">
   </div>
   <!-- <a href="$">Zaboravio sam lozinku</a><br><br> -->

   <button class="btn btn-primary w-100 mt-3 mb-2" [disabled]="username.length === 0 || password.length === 0"
      (click)="onSubmit()">Prijavi se</button>

   <br>Nemate nalog? <a routerLink="/registration">Registrujte se</a>


   <div class="text-left mt-5 mb-5 alert alert-info">

      <strong>Ili koristite neki od test naloga:</strong>
      <div class="w-100 d-flex justify-content-between">

         <a (click)="fillLoginFields('test2','test1234.')" href="javascript:void(0)">test2</a>
         <a (click)="fillLoginFields('samed','lozinka1234.')" href="javascript:void(0)">samed</a>

      </div>
   </div>

</div>