<div class="container w-75">

   <h1 class="display-4 mb-5 mt-3 text-center">Promena lozinke</h1>

   <div class="alert alert-danger" *ngIf="errorMessage.length > 0">
      <span style="white-space: pre-line">{{errorMessage}}</span>
   </div>

   <div class="form-row">

      <div class="form-group col-12">
         <label>Stara lozinka</label>
         <input type="password" class="form-control" placeholder="Stara lozinka" [(ngModel)]="oldPassword">
      </div>
   </div>

   <div class="form-row">
      <div class="form-group col-12">
         <label>Nova lozinka</label>
         <input type="password" class="form-control" placeholder="Nova lozinka" [(ngModel)]="password1">
      </div>
      <div class="form-group col-12">
         <label>Ponovite novu lozinku</label>
         <input type="password" class="form-control" placeholder="Ponovite novu lozinku" [(ngModel)]="password2">
      </div>
   </div>

   <button class="btn btn-primary w-100 mt-3 mb-4" [disabled]="!canSubmit()" (click)="onSubmit()">
      Promeni lozinku
   </button>
</div>